<include file="public/header" title="{$model.name}" keywords="{$model.name}"/>
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget  radius-bordered">
        <div class="widget-header">
            <span class="widget-caption">公益操作</span>
        </div>
        <div class="widget-body">
            <form id="togglingForm" action="__URL__/add_handler" method="post" enctype="multipart/form-data" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-lg-2 control-label">公益所属</label>
                    <div class="col-lg-4">
                       <select name="fid" id="fid">
                       		<option value="0">---默认所属---</option>
                       		<volist name="list" id="clf">
                       			<option value="{$clf.id}" <notempty name="info"><eq name="clf.id" value="$info.fid">selected</eq></notempty>>{$clf.title}</option>
                       		</volist>
                       </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">公益名称<sup class="text-danger">*</sup></label>
                    <div class="col-lg-3">
                        <input type="text" name="title" value="<notempty name="info">{$info.title}</notempty>" class="form-control" id="name" placeholder="公益名称"/>
                        <input type="hidden" name="id" value="<notempty name='info'>{$info.id}</notempty>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">公益说明</label>
                    <div class="col-lg-4">
                        <textarea name="description" class="form-control" rows="6" placeholder="公益说明"><notempty name="info">{$info.description}</notempty></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">封面图</label>
                    <div class="col-lg-4">
                        <div>
                            <div style="float:left; margin-top:8px;margin-right:6px;"><input type="button" name="fileImg" id="fileImg" size="16" value="上传" class="table_btn"/></div>
                            <div class="btn btn-warning btn-xs" onclick="imgView('master');return false;" id="img_b"><i class="fa fa-search-plus" style="cursor:pointer;display:block"></i></div>
                            <div class="btn btn-danger btn-xs" onclick="noMasterImg()"><i class="fa fa-trash-o" style="cursor:pointer;display:block"></i></div>
                            <div style="clear:both;"></div>
                        </div>
                        <div>
                            <notempty name="info.image">
                                <img src="{$info.image}" id="images_preview" width="380" height="auto">
                                <input type="hidden" value="{$info.image}" name="image" id="reply_img">
                                <else />
                                <img src="" id="images_preview" width="380" height="auto" style="display:none;">
                                <input type="hidden"  name="image" id="reply_img">
                            </notempty>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">公益说明</label>
                    <div class="col-lg-6">
                         <textarea name="content" class="form-control" rows="5" placeholder="公益说明"><notempty name="info">{$info.content}</notempty></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">排序</label>
                    <div class="col-lg-2">
                        <input name="sort" value="<notempty name='info'>{$info.sort}<else />100</notempty>" class="form-control" placeholder="公益排序"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">公益状态</label>
                    <div class="col-lg-6">
                        <div class="radio pull-left">
                            <label>
                                <input name="status" type="radio" value="0" class="colored-success" <notempty name="info"><eq name="info.status" value="0">checked="checked"</eq><else />checked="checked"</notempty>>
                                <span class="text">是</span>
                            </label>
                        </div>
                        <div class="radio pull-left">
                            <label>
                                <input name="status" type="radio" value="1" class="colored-danger" <notempty name="info"><eq name="info.status" value="1">checked="checked"</eq></notempty>>
                                <span class="text">否</span>
                            </label>
                        </div>
                        <div class="radio hide">
                            <label>
                                <input name="status" type="radio" class="colored-blueberry">
                                <span class="text"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <hr class="wide" />
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-2">
                        <button type="submit" class="btn btn-danger col-lg-2">提交</button>
                        <button type="button" class="btn btn-warning col-lg-2 ml10" onclick="window.history.go(-1);">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<js file="__JS__/validation/bootstrapValidator.js"/>
<link rel="stylesheet" href="__PLUG__/Uploadify/uploadify.css" />
<script type="text/javascript" src="__PLUG__/Uploadify/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PLUG__/kindeditor/themes/default/default.css">
<link rel="stylesheet" href="__PLUG__/kindeditor/plugins/code/prettify.css" />
<script charset="utf-8" src="__PLUG__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__PLUG__/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="__PLUG__/kindeditor/plugins/code/prettify.js"></script>
<script type="text/javascript">
    $(function(){
    	var editor1;
    	KindEditor.ready(function(K) {
        	var option = {
                cssPath : '__PLUG__/kindeditor/plugins/code/prettify.css',
                uploadJson : "{:Url('Uploadify/KindEditorUpload')}",
                height:350,
                width:750,
                newlineTag:"p",
                filterMode : true,  
                allowFlashUpload : false,  
				allowMediaUpload : false,  
				allowFileManager : false, 
                extraFileUploadParams:{     //配置多图上传水印.
                    'water':-1,      //不填:默认无水印,-1/无水印,0:网址水印,1:LOGO水印,2:文字水印
                    'font':'{$site.title|default='魏巍是个大帅锅'}',      //与2:文字水印配合使用
                },
                afterBlur: function(){this.sync();},
            };
            editor1 = K.create('textarea[name="content"]',option);
            prettyPrint();
        });
        
        $('#togglingForm').bootstrapValidator({
            message: '验证没有通过',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function (validator, form, submitButton) {
                var index = layer.load(2,{
                    shade: [0.4,'#000'] //0.1透明度的白色背景
                });
                $.post(form.attr('action'),form.serialize(),function(data){
                    layer.close(index);
                    if(data.status==1){
                        layer.alert(data.msg,{icon:6,end:function(){
                            location.href = data.redirect;
                        }});
                    }else {
                        layer.alert(data.msg,{icon:5});
                    }
                });
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: '请输入公益名称'
                        }
                    }
                },
                uri:{
                    validators: {
                        notEmpty: {
                            message: '请输公益入网址'
                        }
                    }
                }
            }
        })
        .find('button[data-toggle]')
        .on('click', function () {
            var $target = $($(this).attr('data-toggle'));
            $target.toggle();
            if (!$target.is(':visible')) {
                $('#togglingForm').data('bootstrapValidator').disableSubmitButtons(false);
            }
        });
    });
    function imgView(pic_url){
        if(pic_url == 'master'){
            pic_url = $('#reply_img').val();
        }
        if(pic_url==''){
            layer.alert('你还没有上传图片',{icon:5});
            return false;
        }
        layer.open({
            type: 1,
            title: '查看图片',
            skin: 'layui-layer-rim', //加上边框
            area: ['500px', '400px'], //宽高
            content: "<div style='max-width:500px; max-height:400px; overflow:auto;'><img style='max-width:500px; max-height:400px; overflow:auto;' src='"+pic_url+"'  /></div>"
        });
    }

    //照片
    $("#fileImg").uploadify({
        fileTypeDesc    : '图片文件',
        fileTypeExts    : '*.png;*.jpg;*.jpeg;*.gif;',
        buttonText      : '选择图片',
        buttonClass     : 'upload_button',
        fileObjName     : 'image',          //上传文件接收名
        swf             : '__PLUG__/Uploadify/uploadify.swf',
        uploader        : "{:Url('Uploadify/uploadimg')}",
        multi           : false,
        onUploadSuccess : function(file, data, response) {
            $("#reply_img").val(data);
            $("#images_preview").attr('src',data);
            $('#images_preview').show();
            $('#img_b').show();
            $('#img_c').show();
        }
    });
    function noMasterImg(){
        $src = $("#images_preview").attr('src');
        if($src==''){
            layer.alert('您好没有上传图片',{icon:5});
            return false;
        }
        $.post("{:Url('Uploadify/delmg')}",{src:$src},function(data){
            if(data.status==1){
                layer.msg(data.msg,{icon:1});
                $("#reply_img").val('');
                $('#images_preview').attr('src','');
                $('#img_c').hide();
                $('#images_preview').hide();
            }else{
                layer.alert(data.msg,{icon:5});
            }
        });
    }
    function deleteImage(obj) {
        var url = $(obj).attr('data-path');
        if(url==''){
            layer.alert('删除图片不存在',{icon:2});
        }
        var index = layer.load(2, {
            shade: [0.4,'#fff'] //0.1透明度的白色背景
        });
        $.post("{:Url('Uploadify/delmg')}",{src:url},function(data){
            if(data.status==1){
                layer.msg(data.msg,{icon:1,end:function () {
                    layer.closeAll();
                    $(obj).parent('span.imageDiv').remove();
                }});
            }else{
                layer.msg(data.msg,{icon:5});
            }
        });
    }
</script>
<include file="public/footer"/>