<include file="public/header" title="{$model.name}" keywords="{$model.name}"/>
<link href="__CSS__/dataTables.bootstrap.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12 col-md-12">
        <div class="widget">
            <div class="widget-header">
                <span class="widget-caption pull-left"><i class="fa fa-columns"></i>&nbsp;{$model.name}</span>
                <div class="widget-buttons">
                    <a href="#" data-toggle="maximize">
                        <i class="fa fa-expand"></i>
                    </a>
                    <a href="#" data-toggle="collapse">
                        <i class="fa fa-minus"></i>
                    </a>
                    <!-- <a href="#" data-toggle="dispose">
                        <i class="fa fa-times"></i>
                    </a> -->
                </div>
            </div>
            <div class="widget-body">
            	<div class="col-xs-4 col-md-3">
                    <a href="__URL__/add?aid={:input('aid')}" class="btn btn-success">添加文档</a>
                    <a href="__URL__/status" data-role="forbidden" class="btn btn-warning status">选中禁用</a>
                    <a href="__URL__/status" data-role="enable" class="btn btn-info status">选中启用</a>
                    <a href="__URL__/status" data-role="delete-all" class="btn btn-danger status">选中删除</a>
                </div>
                <div class="clearfix"></div>
                <hr>
                <table class="table table-striped table-bordered table-hover" id="simpledatatable">
                    <thead>
                        <tr>
                            <th style="width:80px">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="group-checkable">
                                        <span class="text"></span>
                                    </label>
                                </div>
                            </th>
                            <th>
                              	采集名称
                            </th>
                            <th>
                                                                采集描述
                            </th>
                            <th>
                              	采集地址
                            </th>
                            <th>
                              	采集规则
                            </th>
                            <th>
                              	采集类型
                            </th>
                            <th>
                                                                添加时间
                            </th>
                            <th>
                                                                 状态
                            </th>
                            <th>
                                                                 操作
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <volist name="list" id="vo">
                        	<tr>
	                            <td>
	                                <div class="checkbox">
	                                    <label>
	                                        <input type="checkbox" class="checkboxes" value="{$vo.id}">
	                                        <span class="text"></span>
	                                    </label>
	                                </div>
	                            </td>
	                            <td>
	                            	{$vo.title}
	                            </td>
	                            <td class="tips" data-role = "{$vo.description}">
	                                {$vo.description|mb_substr=0,10}
	                            </td>
	                            <td class="tip" >
	                                <a href="#" class="tips" data-role='{$vo.url}' data-type="2">查看采集地址</a>
	                            </td>
	                            <td>
	                                
	                                <a href="#" class="tips" data-role="{$vo.id}" data-type="1">查看规则</a>
	                            </td>
	                            <td>
	                                <eq name="vo.type" value="0">
	                                	<label class="label label-info">内容</label>
	                                	<else />
	                                	<label class="label label-danger">列表</label>
	                                </eq>
	                            </td>
	                            <td>
	                               {$vo.date|date='Y-m-d H:i:s',###}
	                            </td>
	                            <td class="center ">
	                               <eq name="vo.status" value="0"> <span class="text-success">正常</span><else /><span class="text-danger">禁用</span> </eq>
	                            </td>
	                            <td>
	                            	<a href="__URL__/add?id={$vo['id']}">编辑</a>
	                            	<eq name="vo.status" value="0"><a href="__URL__/status" data-role="forbidden" data-id="{$vo.id}" class="status">禁用</a><else /><a href="__URL__/status" data-role="enable" data-id="{$vo.id}" class="status">正常</a></eq>
	                            	<a href="__URL__/status" data-role="delete"  data-id="{$vo.id}" class="status">删除</a>
	                            </td>
	                        </tr>
                        </volist>
                    </tbody>
                </table>
                <div class="mt10">
                	{$list->render()}
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(function(){
		$('#simpledatatable').dataTable({
	        "sDom": "Tflt",
	        "iDisplayLength":15,
	        "oTableTools": {
	            "aButtons": [
	                "copy", "csv", "xls","pdf"
	            ],
	            "sSwfPath": "//cdn.bootcss.com/datatables-tabletools/2.1.5/swf/copy_csv_xls_pdf.swf"
	        },
	        "language": {
	        	"sEmptyTable": "暂无数据",
	            "search": "",
	            "sLengthMenu": "_MENU_",
	            "oPaginate": {
	                "sPrevious": "上一页",
	                "sNext": "下一页"
	            }
	        },
	        "aoColumns": [
	          { "bSortable": false },
	          { "bSortable": true },
	          { "bSortable": false },
	          { "bSortable": false },
	          { "bSortable": false },
	          { "bSortable": false },
	          null,
	          null,
	          { "bSortable": false }
	        ],
	        "aaSorting": []
	    });
	    $('#simpledatatable .group-checkable').change(function () {
	        var set = $(".checkboxes");
	        var checked = $(this).is(":checked");
	        $(set).each(function () {
	            if (checked) {
	                $(this).prop("checked", true);
	                $(this).parents('tr').addClass("active");
	            } else {
	                $(this).prop("checked", false);
	                $(this).parents('tr').removeClass("active");
	            }
	        });

	    });
	    $('#simpledatatable tbody tr .checkboxes').change(function () {
	        $(this).parents('tr').toggleClass("active");
	    });
	    $('#simpledatatable_length').remove();
    	$('.DTTT.btn-group').css('right','0px');
    	$('.dataTables_filter').removeAttr('id');
	});
</script>
<include file="public/footer"/>