<include file="public:header" title="{$title}"/>
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget radius-bordered">
        <div class="widget-header">
            <span class="widget-caption">个人信息</span>
        </div>
        <div class="widget-body">
            <form id="togglingForm" action="__URL__/add_handler" method="post" enctype="multipart/form-data" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-lg-1 control-label">用户</label>
                    <div class="col-lg-4">
                        <label class="control-label">{$user['username']}</label>
                        <input type="hidden" name="id" value="{$Request.session._id}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">用户权限</label>
                    <div class="col-lg-4">
                       <eq name="$user['gid']" value="-1">
                       	 <label class="label label-danger">超级管理员</label>
                       </eq>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">最后登录时间</label>
                    <div class="col-lg-4">
                        <label class="control-label">{$user['last_date']|date='Y-m-d H:i:s',###}</label>
                        <input type="hidden" name="id" value="{$Request.session._id}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">最后登录IP</label>
                    <div class="col-lg-4">
                        <label class="control-label">{$user['last_ip']}</label>
                        <input type="hidden" name="id" value="{$Request.session._id}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-1">
                        <button type="button" class="btn btn-blue col-lg-2 exchange">修改密码</button>
                    </div>
                </div>
                <hr class="wide" />
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(function(){
		$('.exchange').on('click',function(e){
			e.preventDefault();
			layer.open({
				type: 2,
				title:'修改个人密码',
				skin: 'layui-layer-rim', //加上边框
				area: ['40%', '360px'],
				content:"{:Url('publish/exchange')}"
			});
		});
	});
</script>
<include file="public:footer" />