<include file="public/header" title="{$model.name}" keywords="{$model.name}"/>
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget  radius-bordered">
        <div class="widget-header">
            <span class="widget-caption">网站操作</span>
        </div>
        <div class="widget-body">
            <form id="togglingForm" action="__URL__/add_handler" method="post" enctype="multipart/form-data" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-lg-1 control-label">网站标题<sup>*</sup></label>
                    <div class="col-lg-4">
                        <input type="text" name="title" value="<notempty name="info">{$info.title}</notempty>" class="form-control" id="name" placeholder="网站标题"/>
                        <input type="hidden" name="id" value="<notempty name='info'>{$info.id}</notempty>">
                        <ul class="points text-warning">
                            <li>标题(title)是在浏览器上面显示出来的,方便用户了解这个页面的内容,特别是搜索引擎判断你网页内容的主要根据</li>
                            <li>网页标题不能太长,一般不超过80个字符</li>
                            <li>首页的title写法格式一般是"总标题-特别重要的关键词或者一句话含有特别重要关键词的描述"</li>
                            <li>网站页title,网站页title的写法有两种,关键词名称"网站名称-总名称",非关键词命名:"网站名称 网站关键词-总名称"</li>
                            <li注意:这里的"-"是英文,由于各种原因,计算机只对英语敏感性较高,而对汉语敏感性不太高</li>
                            <li>分类列表页的title写法:用关键词为这个网站起名,然后按照下列顺序填写便可了"分类列表页名称-网站名称-总名称"</li>
                            <li>内容的title写法:用关键词为这个文档起名,然后按照下列顺序填写便可了"文档关键词-分类列表页名称-网站名称-总名称"</li>
                            <li>标题是搜索引擎判断你网页内容的主要依据<sup class="text-danger">应重视</sup></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">网站关键词</label>
                    <div class="col-lg-4">
                        <textarea name="keywords" class="form-control" rows="5" placeholder="文档关键词"><notempty name="info">{$info.keywords}</notempty></textarea>
                        <ul class="points text-warning">
                            <li>关键词(keywords)访问者不可见的,通过查看源代码可以看到,主要作用是告诉搜索引擎,这个网站内容是什么</li>
                            <li>网页关键词不能太长,一般不超过100个字符</li>
                            <li>首页keywords按照选定的网站名称,在首页的keywords中加入总名称、网站名称和一两个关键词</li>
                            <li>网站的keywords其网站下所有分类列表的名称列出,加上网站关键字,写法是"网站名称,网站关键字,网站分类列表名称"</li>
                            <li>分类列表页keywords写法,将你这个网站中的主要关键字写入</li>
                            <li>keywords要本着为全站服务,关键词要体现全站的主题</li>
                            <li>描述的滥用,导致目前常用的搜索引擎降低了keywords的重要性<sup class="text-danger">已降权</sup></li>
                        </ul>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-1 control-label">网站说明</label>
                    <div class="col-lg-4">
                        <textarea name="description" class="form-control" rows="6" placeholder="网站说明"><notempty name="info">{$info.description}</notempty></textarea>
                        <ul class="points text-warning">
                            <li>描述(description),提供的网页简短描述通常是为搜索引擎描述网页使用的</li>
                            <li>网页描述不能太长,应该保持在140-200个字符或者100个左右的汉字</li>
                            <li>不要给网页定义与网页描述内容无关的简短描述</li>
                            <li>描述的滥用,导致目前常用的搜索引擎降低了description的重要性<sup class="text-danger">已降权</sup></li>
                        </ul>
                    </div>
                </div>
               <div class="form-group">
                    <label class="col-lg-1 control-label">网站LOGO</label>
                    <div class="col-lg-2">
                        <div>
                            <div style="float:left; margin-top:8px;margin-right:6px;"><input type="button" name="logo" id="fileImg" size="16" value="上传" class="table_btn"/></div>
                            <div class="btn btn-warning btn-xs" onclick="imgView('master');return false;" id="img_b"><i class="fa fa-search-plus" style="cursor:pointer;display:block"></i></div>
                            <div class="btn btn-danger btn-xs" onclick="noMasterImg()"><i class="fa fa-trash-o" style="cursor:pointer;display:block"></i></div>
                            <div style="clear:both;"></div>
                        </div>
                        <div>
                            <notempty name="info.logo">
                                <img src="{$info.logo}" id="images_preview" width="380" height="auto">
                                <input type="hidden" value="{$info.logo}" name="logo" id="reply_img">
                                <else />
                                <img src="" id="images_preview" width="380" height="auto" style="display:none;">
                                <input type="hidden"  name="logo" id="reply_img">
                            </notempty>
                        </div>
                    </div>
                </div>
                
               
                <hr class="wide" />
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-1">
                        <button type="submit" class="btn btn-danger col-lg-2">提交</button>
                        <button type="button" class="btn btn-warning col-lg-2 ml10" onclick="window.history.go(-1);">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<js file="__JS__/validation/bootstrapValidator.js"/>
<js type="text/javascript" file="__PLUG__/jquery.han2pin.min.js"/>
<script src="__JS__/colorpicker/jquery.minicolors.js"></script>
<link rel="stylesheet" href="__PLUG__/Uploadify/uploadify.css" />
<script type="text/javascript" src="__PLUG__/Uploadify/jquery.uploadify.min.js"></script>

<script type="text/javascript">
    $(function(){
        $('#togglingForm').bootstrapValidator({
            message: '验证没有通过',
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            submitHandler: function (validator, form, submitButton) {
                var index = layer.load(2,{
                    shade: [0.4,'#000'] //0.1透明度的白色背景
                });
                $.post(form.attr('action'),form.serialize(),function(data){
                    layer.close(index);
                    if(data.status==1){
                        layer.alert(data.msg,{icon:6,end:function(){
                            location.href = data.redirect;
                        }});
                    }else {
                        layer.alert(data.msg,{icon:5});
                    }
                });
            },
            fields: {
                title: {
                    validators: {
                        notEmpty: {
                            message: '请输入网站名称'
                        }
                    }
                },
                name: {
                    validators: {
                        notEmpty: {
                            message: '请输入网站英文名'
                        }
                    }
                },
                uri:{
                    validators: {
                        notEmpty: {
                            message: '请输入网址'
                        }
                    }
                },
                last_tpl:{
                    validators: {
                        notEmpty: {
                            message: '请输入最终显示模板'
                        }
                    }
                }
            }
        })
        .find('button[data-toggle]')
        .on('click', function () {
            var $target = $($(this).attr('data-toggle'));
            $target.toggle();
            if (!$target.is(':visible')) {
                $('#togglingForm').data('bootstrapValidator').disableSubmitButtons(false);
            }
        });
    });
    function imgView(pic_url){
        if(pic_url == 'master'){
            pic_url = $('#reply_img').val();
        }
        if(pic_url==''){
            layer.alert('你还没有上传图片',{icon:5});
            return false;
        }
        layer.open({
            type: 1,
            title: '查看图片',
            skin: 'layui-layer-rim', //加上边框
            area: ['500px', '400px'], //宽高
            content: "<div style='max-width:500px; max-height:400px; overflow:auto;'><img style='max-width:500px; max-height:400px; overflow:auto;' src='"+pic_url+"'  /></div>"
        });
    }

    //照片
    $("#fileImg").uploadify({
        fileTypeDesc    : '图片文件',
        fileTypeExts    : '*.png;*.jpg;*.jpeg;*.gif;',
        buttonText      : '选择图片',
        buttonClass     : 'upload_button',
        fileObjName     : 'image',          //上传文件接收名
        swf             : '__PLUG__/Uploadify/uploadify.swf',
        uploader        : "{:Url('Uploadify/uploadimg')}",
        multi           : false,
        onUploadSuccess : function(file, data, response) {
            $("#reply_img").val(data);
            $("#images_preview").attr('src',data);
            $('#images_preview').show();
            $('#img_b').show();
            $('#img_c').show();
        }
    });
    function noMasterImg(){
        $src = $("#images_preview").attr('src');
        if($src==''){
            layer.alert('您好没有上传图片',{icon:5});
            return false;
        }
        $.post("{:Url('Uploadify/delmg')}",{src:$src},function(data){
            if(data.status==1){
                layer.msg(data.msg,{icon:1});
                $("#reply_img").val('');
                $('#images_preview').attr('src','');
                $('#img_c').hide();
                $('#images_preview').hide();
            }else{
                layer.alert(data.msg,{icon:5});
            }
        });
    }
    function deleteImage(obj) {
        var url = $(obj).attr('data-path');
        if(url==''){
            layer.alert('删除图片不存在',{icon:2});
        }
        var index = layer.load(2, {
            shade: [0.4,'#fff'] //0.1透明度的白色背景
        });
        $.post("{:Url('Uploadify/delmg')}",{src:url},function(data){
            if(data.status==1){
                layer.msg(data.msg,{icon:1,end:function () {
                    layer.closeAll();
                    $(obj).parent('span.imageDiv').remove();
                }});
            }else{
                layer.msg(data.msg,{icon:5});
            }
        });
    }
</script>
<include file="public/footer"/>