<include file="public/header" title="{$model.name}" keywords="{$model.name}"/>
<div class="col-lg-12 col-sm-12 col-xs-12">
    <div class="widget  radius-bordered">
        <div class="widget-header">
            <span class="widget-caption">文档操作</span>
        </div>
        <div class="widget-body">
            <form id="togglingForm" action="__URL__/add_handler" method="post" enctype="multipart/form-data" class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <label class="col-lg-2 control-label">文档标题<sup>*</sup></label>
                    <div class="col-lg-4">
                        <input type="text" name="title" value="<notempty name="info">{$info.title}</notempty>" class="form-control" id="name" placeholder="文档标题"/>
                        <input type="hidden" name="id" value="<notempty name='info'>{$info.id}</notempty>">
                        <input type="hidden" name="aid" value="{$aid}">
                        <input type="hidden" name="p" value="{:input('p')}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">封面图片</label>
                    <div class="col-lg-4">
                        <div>
                            <div class="btn btn-warning btn-xs" onclick="imgView('master');return false;" id="img_b"><i class="fa fa-search-plus" style="cursor:pointer;display:block"></i></div>
                            <div class="btn btn-danger btn-xs" onclick="noMasterImg()"><i class="fa fa-trash-o" style="cursor:pointer;display:block"></i></div>
                            <div style="clear:both;"></div>
                        </div>
                        <div>
                            <notempty name="info.image">
                                <img src="{$info.image}" id="images_preview" width="380" height="auto">
                                <input type="hidden" value="{$info.image}" name="image" id="reply_img">
                                <else />
                                <img src="" id="images_preview" width="380" height="auto" style="display:none;">
                                <input type="hidden"  name="image" id="reply_img">
                            </notempty>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">文档关键词</label>
                    <div class="col-lg-4">
                    	<label for="">{$info.keywords}</label>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">文档说明</label>
                    <div class="col-lg-4">
                       <label>{$info.description}</label>
                    </div>
                </div>
                
                <div class="form-group">
                    <label class="col-lg-2 control-label">文档内容</label>
                    <div class="col-lg-6">
                         <textarea name="content" class="form-control" rows="5" placeholder="主要内容"><notempty name="info">{$info.content}</notempty></textarea>
                    </div>
                </div>
                <hr class="wide" />
                <div class="form-group">
                    <div class="col-lg-4 col-lg-offset-1">
                        <button type="button" class="btn btn-success col-lg-3" data-role="0">通过</button>
                        <button type="button" class="btn btn-danger col-lg-3 ml10" data-role="1">不通过</button>
                        <button type="button" class="btn btn-warning col-lg-3 ml10" onclick="window.history.go(-1);">返回</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<js file="__JS__/validation/bootstrapValidator.js"/>
<link rel="stylesheet" href="__PLUG__/Uploadify/uploadify.css" />
<script type="text/javascript" src="__PLUG__/Uploadify/jquery.uploadify.min.js"></script>
<link rel="stylesheet" type="text/css" href="__PLUG__/kindeditor/themes/default/default.css">
<link rel="stylesheet" href="__PLUG__/kindeditor/plugins/code/prettify.css" />
<script charset="utf-8" src="__PLUG__/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__PLUG__/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="__PLUG__/kindeditor/plugins/code/prettify.js"></script>
<script type="text/javascript">
    $(function(){
    	$('button[type="button"]').on('click',function(e){
    		e.preventDefault();
    		var index = layer.load(2, {
	            shade: [0.4,'#fff'] //0.1透明度的白色背景
	        });
    		$.post('__URL__/set_see',{id:"{:input('id')}",pid:"{:input('pid')}",aid:"{:input('aid')}",t:$(this).attr('data-role'),p:"{:input('p')}"},function(result){
    			layer.close(index);
    			if(result.status==1){
    				layer.alert(result.msg,{icon:1,end:function(){
    					window.location.href =result.redirect;
    				}})
    			}else{
    				 layer.msg(data.msg,{icon:5});
    			}
    		});
    	});
    	
        KindEditor.ready(function(K) {
            var editor1 = K.create('textarea[name="content"]', {
                cssPath : '__PLUG__/kindeditor/plugins/code/prettify.css',
                uploadJson : "{:Url('Uploadify/KindEditorUpload')}",
                height:350,
                width:750,
                newlineTag:"p",
                allowFileManager : false,
                extraFileUploadParams:{     //配置多图上传水印.
                    'water':-1,      //不填:默认无水印,-1/无水印,0:网址水印,1:LOGO水印,2:文字水印
                    'font':'{$site.title|default='魏巍是个大帅锅'}',      //与2:文字水印配合使用
                },
                afterBlur: function(){this.sync();},
            });
            prettyPrint();
        });

        
    });
    function imgView(pic_url){
        if(pic_url == 'master'){
            pic_url = $('#reply_img').val();
        }
        if(pic_url==''){
            layer.alert('你还没有上传图片',{icon:5});
            return false;
        }
        layer.open({
            type: 1,
            title: '查看图片',
            skin: 'layui-layer-rim', //加上边框
            area: ['500px', '400px'], //宽高
            content: "<div style='max-width:500px; max-height:400px; overflow:auto;'><img style='max-width:500px; max-height:400px; overflow:auto;' src='"+pic_url+"'  /></div>"
        });
    }

    function noMasterImg(){
        $src = $("#images_preview").attr('src');
        if($src==''){
            layer.alert('您好没有上传图片',{icon:5});
            return false;
        }
        $.post("{:Url('Uploadify/delmg')}",{src:$src},function(data){
            if(data.status==1){
                layer.msg(data.msg,{icon:1});
                $("#reply_img").val('');
                $('#images_preview').attr('src','');
                $('#img_c').hide();
                $('#images_preview').hide();
            }else{
                layer.alert(data.msg,{icon:5});
            }
        });
    }
    function deleteImage(obj) {
        var url = $(obj).attr('data-path');
        if(url==''){
            layer.alert('删除图片不存在',{icon:2});
        }
        var index = layer.load(2, {
            shade: [0.4,'#fff'] //0.1透明度的白色背景
        });
        $.post("{:Url('Uploadify/delmg')}",{src:url},function(data){
            if(data.status==1){
                layer.msg(data.msg,{icon:1,end:function () {
                    layer.closeAll();
                    $(obj).parent('span.imageDiv').remove();
                }});
            }else{
                layer.msg(data.msg,{icon:5});
            }
        });
    }
</script>
<include file="public/footer"/>
